<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

 

<head>

<title>Employee List</title>

 

</head>

 

<body>

 

<h3>Employee Table</h3>
<table border="1" cellpadding="10">
<thead>
<tr>
<th>Id</th>
<th>EmoloyeeName</th>
<th>EmployeeCode</th>
</tr>
</thead>
<tbody>
<tr th:each="s : ${<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

 

<head>

<title>Employee List</title>

 

</head>

 

<body>

 

<h3>Employee Table</h3>
<table border="1" cellpadding="10">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Salary</th>
</tr>
</thead>
<tbody>
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

 

<head>

<title>Employee List</title>

 

</head>

 

<body>

 

<h3>Employee Table</h3>
<table border="1" cellpadding="10">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Salary</th>
</tr>
</thead>
<tbody>
<tr th:each="s : ${elist}">
<td th:text="${s.employeeCode}">Id</td>
<td th:text="${s.employName}">Name</td>


 

			</tr>
</tbody>
</table>

 

</body>

 

</html><td th:text="${s.employeeCode}">Id</td>
<td th:text="${s.employeeName}">Name</td>


 

			</tr>
</tbody>
</table>

 

</body>

 

</html>}">
<td th:text="${s.employeeId}">Id</td>
<td th:text="${s.employeeName}">Name</td>
<td th:text="${s.employeeCode}">Employeecode</td>

 

			</tr>
</tbody>
</table>

 

</body>

 

</html>